[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
compoundfiles = "~=0.3"
compressed_rtf = "~=1.0.6"

[dev-packages]
pytest = "~=3.10.1"
tox = "~=3.5.3"

[requires]
python_version = "3.7"
